      <footer class="footer">
        <ul class="footer-links">
          <li>
            <a href="{{ .Site.Params.logofooter.url }}" target="_blank">
              <span>
                {{ .Site.Params.logofooter.description }}<img src="{{ print "images/" .Site.Params.logofooter.image | relURL }}" class="dib {{ .Site.Params.logofooter.width }} {{ .Site.Params.logofooter.height }} br-10" alt="{{ .Site.Params.logofooter.alt }}">
                       &copy; {{ now.Format "2006"}}&nbsp;<b class="ttu">{{ .Site.Params.owner.shortname }}</b>, All Rights Reserved
              </span>
            </a>
          </li>
          <li>
            <a href="{{ .Site.Params.PrivacyURL }}" target="_blank">Privacy statement</a>
          </li>
          <li>
            <a href="{{ .Site.RSSLink | relURL }}" type="application/rss+xml" target="_blank">RSS feed</a>
          </li>
        </ul>
      </footer>

    </div>
    {{ partial "footer_highlightjs" . }}
    {{ partial "footer_mathjax" . }}
    {{ template "_internal/google_analytics.html" . }}
    <script src="{{ "javascript/load_google_analytics.js" | relURL }}" type="text/javascript"></script>
  </body>
</html>
